.nav-bg{
    background-image: url("https://res.cloudinary.com/dnan3gcy9/image/upload/v1751545534/image_ac5l8c.jpg");
    background-size: cover;
}
.logo{
    height: 100px;
    width: 120px;
}
.btn1{
    background-color: #e50914;
    color: white;
    padding: 6px;
    border-radius: 8px;
    border-width: 0px;
    width: 90px;
    font-weight: bold;
}
.btn1:hover{
    background-color: rgb(137, 12, 12);
    transition: background-color 0.15s;
}
.homebg{
    background-image: url("https://res.cloudinary.com/dnan3gcy9/image/upload/v1751647801/image_3_ln7axr.jpg");
    background-size: cover;
    text-align: center;
    padding-bottom: 300px;
}

.head1{
    color: white;
    font-size: 300%;
    font-weight: bolder;
}
.para1{
    color: white;
}
.btn2{
    background-color: transparent;
    color: white;
    width: 350px;
    height: 60px;
    border-radius: 5px;
    padding-left: 20px;
    border-color: rgb(202, 196, 196);
}

.btn3{
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    border-width: 0px;
    width: 150px;
    height: 60px;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    transition: background-color 0.15s;
}
.btn3:hover{
    background-color: rgb(137, 12, 12);
}
.aligncenter{
    margin-top: 200px;
}
.trending-bg{
    background-image: linear-gradient(to bottom,#060a3d,black);
}
.head2{
    color: white;
    font-size: 18px;
    margin-top: 15px;
}
.imagealign{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
.trendimg{
    height: 90%;
    width: 80%;
    cursor: pointer;
    transition: opacity 0.15s,width 0.15s,height 0.15s;
}
.trendimg:hover{
    opacity: 0.7;
    height: 100%;
    width: 100%;
}
.trendimg:active{
    opacity: 0.5;
}
.bg-full{
    background-color: black;
    color: white;
    width: 100%;
}
.box{
    background-image: linear-gradient(to right,#1b1f3f,#1e172c,#20101d);
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.15;
}
.box:hover{
    opacity: 0.7;
}
.box:active{
    opacity: 0.5;
}
.logoimg{
    height: 60px;
    width: 60px;
}
.btn4{
    height: 85px;
    color: white;
    font-weight: 800px;
    font-size: 20px;
    padding: 20px;
    background-color: #343a40;
    width: 100%;
    transition: opacity 0.15,height 0.15s;
    border: none;
}
.btn4:hover{
    opacity: 0.7;
    height: 95px;
}
.btn4:active{
    opacity: 0.5;
}
.head3{
    font-size: 20px;
}
.btn5{
    background-color: transparent;
    color: white;
    width: 550px;
    height: 60px;
    border-radius: 5px;
    padding-left: 20px;
    border-color: white;
    
}

.btn6{
    background-color: transparent;
    color: white;
    border-color: white;
}
.under{
    text-decoration: underline;
    cursor: pointer;
}
.little{
    font-size: 15px;
    color: white;
}
.verylittle{
    font-size: 13px;
    color: grey;
}